{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<header>
    <h1>About Us</h1>
</header>
<main>
    <section>
        <h2>About the Application</h2>
        <p>This application helps in predicting diabetic retinopathy using fundus images. It utilizes a deep learning model to provide accurate predictions.</p>
    </section>
    <section>
        <h2>Our Team</h2>
        <p>We are a team of passionate developers and data scientists committed to improving healthcare through technology.</p>
    </section>
</main>
{% endblock %}
