<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbarstyles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Diabetic Retinopathy Detection App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- Include the common footer -->
    {% include 'footer.html' %}
</body>
</html>
